modules = ["nodejs-20", "python-3.11"]
[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
integrations = ["stripe:2.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEXT_PUBLIC_ONESIGNAL_APP_ID = "1e4a9567-b83d-48e5-815e-9693386df41f"
